<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
[%# <?xml version="1.0" encoding="UTF-8"?>%]
[% USE Filter.Minify.CSS %]
[% USE Filter.Minify.JavaScript %]
[% CSS_FILTER = c.debug ? "repeat" : "minify_css" %]
[% JS_FILTER = c.debug ? "repeat" : "minify_js" %]

<html xmlns="https://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<link rel="icon" type="image/x-icon" href="[% c.uri_for('/static/images/favicon.ico') %]">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
<script type="text/javascript">/* <![CDATA[ */ BASE_URI="[% c.uri_for('/') %]";[% IF experiment %]EXPERIMENT="[% experiment %]";[% END %] /* ]]> */</script>
[% FOREACH f IN template.external_js_scripts.split('\s+') %]
<script type="text/javascript" src="[% c.uri_for(f) %]"></script>
[% END %]
[% FOREACH f IN template.external_css_files.split('\s+') %]
<link rel="stylesheet" type="text/css" href="[% c.uri_for(f) %]"></style>
[% END %]
<script type="text/javascript">
/* <![CDATA[ */
[% FILTER $JS_FILTER(1) %]
[% INSERT common.js %]
[% END %]
/* ]]> */
</script>
[% FOREACH f IN template.js_scripts.split('\s+') %]
<script type="text/javascript">
/* <![CDATA[ */
[% FILTER $JS_FILTER(1) %]
[% INSERT $f %]
[% END %]
/* ]]> */
</script>
[% END %]
<style type="text/css">
/* <![CDATA[ */
[% FILTER $CSS_FILTER(1) %]
[% BASE_URI = c.uri_for('/') %]
[% PROCESS main.css.tt %]
[% END %]
/* ]]> */
</style>
[% IF IS_IE %]
<!--[if IE]>
<style type="text/css">
/* <![CDATA[ */
[% FILTER $CSS_FILTER(1) %]
[% BASE_URO = c.uri_for('/') %]
[% PROCESS main_iehacks.css.tt %]
[% END %]
/* ]]> */
</style>
<![endif]-->
[% END %]
<title>PCIbex farm [% template.title or '' %]</title>
</head>
<body>

<div id="outer1">
<div id="outer2">

<h1>PCIbex Farm</h1>

<div id="login_info">

<a href="[% c.uri_for("/") %]">home</a>
[% IF ! c.user_exists %] | <a href="[% c.uri_for("/login") %]">login/signup</a>
[% END %] |
<a rel="external" href="https://github.com/addrummond/ibex/blob/master/docs/manual.md">ibex docs</a> (<a href="http://spellout.net/latest_ibex_manual.pdf">pdf</a>)
 |
<a rel="external" href="https://www.pcibex.net/documentation/">PennController docs</a>
[% IF c.user_exists %]
<p>
You are logged in as <a id="username" href="[% c.uri_for("/myaccount") %]">[% c.user.username %]</a> (<a href="[% c.uri_for("/logout") %]">logout</a>).
</p>
 
<div style="color: #BD2031; margin-bottom: -2em;" class="box">
  <strong>Important note:</strong> PCIbex Farm accounts' storage space is limited  to <strong>64MB</strong>; exceeding the limit will prevent you from making changes to your experiments.
  <a onclick="document.getElementById('popinlimit').style.display = 'table';" href="#">Click here to learn more</a>
  <div id="popinlimit" class="box" style="position: fixed; top: 5vh; left: 10vw; width: 80vw; height: 90vh; text-align: center; z-index: 1; display: none;">
    <div style="position: absolute; top: 1em; right: 1em;z-index: 2;"><a onclick="document.getElementById('popinlimit').style.display = 'none'" href="#">X</a></div>
    <div style="position: relative; top: 0; left: 0; display: table-cell;vertical-align: middle;/*! text-align: center; */">
      <p><strong>What does this mean?</strong></p>
      <ul style="max-width: 75vw; width: 0vw;text-align: left;margin: auto;min-width: 50vw;">
      <li>There is a total file size limit of <strong>64MB</strong> on PCIbex Farm accounts.</li>
      <li>This means that the total size of all your files across your experiments cannot exceed 64MB.</li>
      <li><strong>This is a general notification: you seing this message does not <em>necessarily</em> mean that your account exceeds the limit.</strong></li>
      <li><em>If</em> you exceed this limit, you will not be able to upload new files or save new edits (no matter how many times you click <em>Save</em>).</li>
      <li>We are sorry we cannot afford to provide more storage space. We hope we will be able to lift this limit in the future.</li>
      </ul>
      <p><strong>Tips</strong></p>
      <ul style="max-width: 75vw; width: 0vw;text-align: left;margin: auto;min-width: 50vw;">
      <li>As you collect data, results files can quickly get big. <strong>Save them to your local device</strong> and <strong>then</strong> delete them from the PCIbex Farm.</li>
      <li>Host your multimedia files on a distant server instead (see <a href='https://www.pcibex.net/wiki/penncontroller-addhost/' target='_blank'><tt>AddHost</tt></a>).</li>
      <li>Even though it is not optimal, you can use services like Dropbox, Google Drive or Github to host your resources. Look up the documentation and the forums for more info.</li>
      <li>Always prefer to use a dedicated server through a service like Dreamhost for example, if you have access to one.</li>
      <li>If you have reached the limit: delete files and <a href="mailto:support@pcibex.net">send us an email</a> with your account name so we can take it off the exceed-quota list and you can edit your projects again.</li>
      </ul>
    </div>
  </div>
</div>
 
[% END %]
</div>
[% content %]

</div> [%# outer2 %]
</div> [%# outer1 %]
</body>
</html>
